<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <setting name="FederatedAuthentication.Enabled">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
            <setting name="Preview.AsAnonymous">
                <patch:attribute name="value">false</patch:attribute>
            </setting>
            <!-- CMS Items -->
            <setting name="ida:ClientId" value="XXXXXX-AAAA-0000-AQAQ-123JHK1JHKJ12" />
            <setting name="ida:PostLogoutRedirectUri" value="https://my.publicsite.com" />
            <setting name="ida:ResourceUri" value="http://cd.publicsite" />
            <setting name="ida:RedirectUri" value="https://my.publicsite" />            
            <!-- shared -->
            <setting name="ida:ADFSDiscoveryDoc" value="https://fs.publicsite.com/adfs/.well-known/openid-configuration" />
        </settings>
        <pipelines>
            <owin.identityProviders>
                <!-- This is the custom processor that gets executed when azure AD posts the token to Sitecore -->
                <processor type="Sitecore.Foundation.Accounts.Pipelines.ADFSIdentityProviderProcessorExternal, Sitecore.Foundation.Accounts" resolve="true" />
            </owin.identityProviders>
        </pipelines>
        <federatedAuthentication>
            <identityProviders hin="list:AddIdentityProvider">                
                    <param desc="name">$(id)</param>
                    <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                    <caption>Sign-in with ADFS</caption>
                    <domain>sitecore</domain>
                    <icon>/sitecore/shell/themes/standard/Images/24x24/msazure.png</icon>

                    <transformations hint="list:AddTransformation">
                        <!--SetIdpClaim transformation-->
                        <transformation name="set idp claim" ref="federatedAuthentication/sharedTransformations/setIdpClaim" />
                        <!--transformation for mapping valid adfs users to desired role in Sitecore -->
                        <transformation name="MapValidADFSUsersToSitecoreRole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
                            <sources hint="raw:AddSource">
                                <claim name="idp" value="adfs.4.0.sitecore" />
                            </sources>
                            <targets hint="raw:AddTarget">
                                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Sitecore\Sitecore Client Users" />
                            </targets>
                            <keepSource>true</keepSource>
                        </transformation>
                    </transformations>
                </identityProvider>
                <identityProvider id="adfs.4.0.external" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
                    <param desc="name">$(id)</param>
                    <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
                    <caption>Sign-in with ADFS</caption>
                    <domain>extranet</domain>
                    <icon>/sitecore/shell/themes/standard/Images/24x24/msazure.png</icon>
                    <transformations hint="list:AddTransformation">
                        <!-- you need to have and Idp Claim for this to work -->
                        <transformation name="Idp Claim" ref="federatedAuthentication/sharedTransformations/setIdpClaim" />
                    </transformations>
                </identityProvider>
            </identityProviders>
            <identityProvidersPerSites>
                <mapEntry name="cd" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
                    <sites hint="list">
                        <site>samplesite</site>
                    </sites>
                    <!-- Registered identity providers for above providers -->
                    <identityProviders hint="list:AddIdentityProvider">
                        <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='adfs.4.0.external']" />
                    </identityProviders>
                    <!-- ExternalUserBuilder is what creates a user with customusername in Sitecore and assigns roles based on claim transformation configured above -->
                    <externalUserBuilder type="Sitecore.Foundation.Accounts.Pipelines.CustomNameExternalUserBuilder, Sitecore.Foundation.Accounts">
                        <param desc="isPersistentUser">false</param>
                    </externalUserBuilder>
                </mapEntry>
            </identityProvidersPerSites>
            <!-- Property initializer assigns claim values to sitecore user properties -->
            <propertyInitializer type="Sitecore.Owin.Authentication.Services.PropertyInitializer, Sitecore.Owin.Authentication">
                <maps hint="list">
                    <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
                        <data hint="raw:AddData">
                            <!--claim name-->
                            <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" />
                            <!--property name-->
                            <target name="Email" />
                        </data>
                    </map>
                    <map name="name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication">
                        <data hint="raw:AddData">
                            <!--claim name-->
                            <source name="Full Name" />
                            <!--property name-->
                            <target name="FullName" />
                        </data>
                    </map>
                    <map name="location" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
                        <data hint="raw:AddData">
                            <source name="Company" />
                            <target name="Comment" />
                        </data>
                    </map>
                </maps>
            </propertyInitializer>
        </federatedAuthentication>
    </sitecore>
</configuration>
